<article id="post-440" class="post-440 page type-page status-publish hentry">
  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-fullheight section-opaque">
    <div class="background-media" style="background-image: url('/images/lupo-plast-cargoship-3003x1998.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:no-scroll; background-position: 50% 0%;"></div>
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0.4);"></div>
    <div class="container container-vertical-middle">
      <div class="row vertical-middle">
        <div class="col-md-12 text-center small-screen-default">
          <div class="col-text-1 text-normal element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
            <p><a name="formularz"></a></p>
          </div>
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:24px;"></div>
            <div class="visible-sm" style="height:24px;"></div>
            <div class="visible-md" style="height:24px;"></div>
            <div class="visible-lg" style="height:24px;"></div>
          </div>
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:24px;"></div>
            <div class="visible-sm" style="height:24px;"></div>
            <div class="visible-md" style="height:24px;"></div>
            <div class="visible-lg" style="height:24px;"></div>
          </div>
          <h1 class="text-default  element-top-20 element-bottom-20 text-light os-animation big regular animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
            {{ site.t[page.lang]['page']['contact']['title'] }}
          </h1>
          <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
            <div class="divider-border-inner"></div>
          </div>
          <p class="lead text-center center  text-light element-top-20 element-bottom-20 os-animation  animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.15s" style="animation-delay: 0.15s;">
            {{ site.t[page.lang]['page']['contact']['lead'] }}
            <br>
          </p>
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:24px;"></div>
            <div class="visible-sm" style="height:24px;"></div>
            <div class="visible-md" style="height:24px;"></div>
            <div class="visible-lg" style="height:24px;"></div>
          </div>
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:24px;"></div>
            <div class="visible-sm" style="height:24px;"></div>
            <div class="visible-md" style="height:24px;"></div>
            <div class="visible-lg" style="height:24px;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section extras text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
    <div class="container-fullwidth container-vertical-top">
      <div class="row vertical-top">
        {% for block in site.t[page.lang]['page']['contact']['blocks'] %}
          <div class="col-md-3 text-center small-screen-default" style="background:{{ block['color'] }};">
            <div class="box box-round box-medium  element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
              <div class="box-dummy"></div>
              <div class="box-inner grid-overlay-0">
                <div class="box-animate" data-animation="bounce">
                  <i class="fa {{ block['icon'] }}" style="color:#ffffff;"></i>
                </div>
              </div>
            </div>
            <p class="lead bialylink text-default default text-light element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
              {{ block['body'] }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</article>
