<div class="block-wrapper">
  <div class="block">
    <h4>{{ site.t[page.lang]['block']['contact']['title'] }}</h4>
    <div class="content">
      <p><img src="/images/map-small.jpg"></p>
      <p><strong>Lupo Plast SJ</strong> <br>Ogrodowa 17/10<br> 61-821 Poznań</p>
      <p>Tel. +48 61 8499 730<br> Fax. +48 61 8499 729</p>
      <p>email: <a href="mailto:pieslak@lupotc.pl">pieslak@lupotc.pl<br></a><a href="{{ site.t[page.lang]['block']['contact']['url'] }}">{{ site.t[page.lang]['block']['contact']['form'] }} ›</a></p>
    </div>
  </div>
</div>
