<head>
  <meta charset="UTF-8" />
  <title>{{ site.t[page.lang]['meta']['title'] }}</title>

  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="30 days">
  <meta name="google-site-verification" content="2kGtbwdXl4NiJwEg6UHUBJBuOmQy8Zah5JgLAWoLfzQ">
  <meta name="keywords" content="{{ site.t[page.lang]['meta']['keywords'] }}">
  <meta name="description" content="{{ site.t[page.lang]['meta']['description'] }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" hreflang="pl" href="{{ site.url }}">
  <link rel="alternate" hreflang="es" href="{{ site.url }}/es/">
  <link rel="alternate" hreflang="en" href="{{ site.url }}/en/">
  <link rel='dns-prefetch' href='//fonts.googleapis.com'>
  <link rel="stylesheet" href="/css/language-selector.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/theme.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
  <link rel="icon" href="/images/favicon.png">
  <link href="//fonts.googleapis.com/css?family=Archivo+Black%7CAbril+Fatface%7CLato%7CAndada%7CRoboto+Slab:100,300,400,700&amp;subset=latin,latin-ext,latin,latin-ext,latin,latin,latin-ext,latin" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <noscript>
    <style type="text/css">.wpb_animate_when_almost_visible { opacity: 1; }</style>
  </noscript>
</head>
