<head>
  <meta charset="UTF-8" />
  <title>{{ site.t[page.lang]['meta']['title'] }}</title>

  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="30 days">
  <meta name="google-site-verification" content="2kGtbwdXl4NiJwEg6UHUBJBuOmQy8Zah5JgLAWoLfzQ">
  <meta name="keywords" content="{{ site.t[page.lang]['meta']['keywords'] }}">
  <meta name="description" content="{{ site.t[page.lang]['meta']['description'] }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" hreflang="pl" href="{{ site.url }}">
  <link rel="alternate" hreflang="es" href="{{ site.url }}/es/">
  <link rel="alternate" hreflang="en" href="{{ site.url }}/en/">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Archivo+Black%7CAbril+Fatface%7CLato%7CAndada:100,300,400,700&amp;subset=latin,latin-ext,latin,latin-ext,latin,latin,latin-ext,latin" type="text/css">
  <link rel="icon" href="/images/favicon.png">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-9501611-1', 'auto');
    ga('send', 'pageview');
  </script>
  <noscript>
    <style type="text/css">.wpb_animate_when_almost_visible { opacity: 1; }</style>
  </noscript>
</head>
