<article class="post-433 page type-page status-publish hentry">
  <!-- Home -->
  <section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-fullheight section-opaque" id="home" >
    <div class="background-media" style="background-image: url('/images/photodune-2906769-colorful-of-plastic-polymer-granules-l-3603-2322.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:no-scroll; background-position: 50% 0%;"></div>
    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(255,255,255,0.3);"></div>
    <div class="container-fullwidth container-vertical-middle">
      <div class="row vertical-middle">
        <div class="col-md-12 text-center small-screen-default">
          <div class="figure element-top-110 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
            <span class="figure-image">
              <img width="246" height="400" src=/images/logo-lupo-med.png" class="attachment-full size-full" alt="Lupo Plast logo" srcset="/images/logo-lupo-med.png 246w, /images/logo-lupo-med-185x300.png 185w" sizes="(max-width: 246px) 100vw, 246px" />
            </span>
          </div>
          <a href="#about-us" class="scroll-to scroll-to-id element-top-20 element-bottom-40 text-light os-animation place-bottom" data-os-animation="fadeIn" data-os-animation-delay="0.15s">
            <i class="fa fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- About us -->
  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" id="about-us">
    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,0);"></div>
    <div class="container container-vertical-middle">
      <div class="row vertical-middle">
        <div class="col-md-6 text-default small-screen-center">
          <div class="figure element-top-60 element-bottom-60 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
            <span class="figure-image">
              <img width="456" height="456" src="/images/recycle.png" class="attachment-full size-full" alt="" srcset="/images/recycle.png 456w, /images/recycle-150x150.png 150w, /images/recycle-300x300.png 300w, /images/recycle-75x75.png 75w" sizes="(max-width: 456px) 100vw, 456px" />
            </span>
          </div>
        </div>
        <div class="col-md-6 text-default small-screen-center">
          <h1 class="text-left element-top-20 element-bottom-20 text-normal os-animation normal regular" data-os-animation="fadeInRight" data-os-animation-delay="0.15s">{{ site.t[page.lang]['page']['about_us']['title'] }}</h1>
          <div class="divider-border  divider-border-left element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.15s" >
            <div class="divider-border-inner"  style="background:#3a3c3e;"></div>
          </div>
          <p class="lead text-left left indent1 text-normal element-top-20 element-bottom-20 os-animation " data-os-animation="fadeInRight" data-os-animation-delay="0.15s">{{ site.t[page.lang]['page']['about_us']['lead'] }}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section text-normal section-text-shadow section-inner-shadow section-normal section-opaque">
    <div class="background-media" style="background-image: url('/images/lupo-plast-plastic-bottles.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -80px"></div>
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0.3);"></div>
    <div class="container container-vertical-default">
      <div class="row vertical-default">
        <div class="col-md-12 text-default small-screen-default">
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:60px;"></div>
            <div class="visible-sm" style="height:60px;"></div>
            <div class="visible-md" style="height:60px;"></div>
            <div class="visible-lg" style="height:60px;"></div>
          </div>
          <div class="col-text-1 text-normal element-top-20 element-bottom-20 text-center" data-os-animation="none" data-os-animation-delay="0s">
            {{ site.t[page.lang]['page']['about_us']['body'] }}
          </div>
          <div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:60px;"></div>
            <div class="visible-sm" style="height:60px;"></div>
            <div class="visible-md" style="height:60px;"></div>
            <div class="visible-lg" style="height:60px;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- What we do -->
  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" id="services" >
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
    <div class="container container-vertical-default">
      <div class="row vertical-default">
        <div class="col-md-12 text-center small-screen-default">
          <h1 class="text-default element-top-60 element-bottom-20 text-normal os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">{{ site.t[page.lang]['page']['what_we_do']['title'] }}</h1>
          <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
            <div class="divider-border-inner"  style="background:#3a3c3e;"></div>
          </div>
          <div class="row">
            <div class="col-md-2 text-default small-screen-default"></div>
            <div class="col-md-8 text-default small-screen-default">
              <div class="col-text-1 text-normal element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.15s">
                <p class="Textbody" style="margin-bottom: 8.25pt; text-align: center;" align="center">{{ site.t[page.lang]['page']['what_we_do']['lead'] }}</p>
              </div>
            </div>
            <div class="col-md-2 text-default small-screen-default"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
    <div class="container container-vertical-default">
      <div class="row vertical-default">
        {% for block in site.t[page.lang]['page']['what_we_do']['middle']['blocks'] %}
          <div class="col-md-3 text-center small-screen-default">
            <div class="figure element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.2s">
              <span class="figure-image">
                <img width="96" height="97" src="/images/{{ block['icon'] }}.png" class="attachment-full size-full" alt="" srcset="/images/{{ block['icon'] }}.png 96w, /images/{{ block['icon'] }}-75x75.png 75w" sizes="(max-width: 96px) 100vw, 96px" />
              </span>
            </div>
            <h1 class="text-default  element-top-20 element-bottom-20 text-normal os-animation normal regular" data-os-animation="fadeInDown" data-os-animation-delay="0.2s" >{{ block['title' ] }}</h1>
            <div class="col-text-1 text-normal  element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.2s">
              <p>{{ block['body'] }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section  text-normal section-text-shadow section-inner-shadow section-normal section-opaque">
    <div class="background-media" style="background-image: url('/images/photodune-6080474-container-l-3000x2067.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -80px"></div>
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0);"></div>
    <div class="container container-vertical-middle">
      <div class="row vertical-middle">
        <div class="col-md-2 text-center small-screen-default"></div>
        <div class="col-md-8 text-center small-screen-default col-border-right col-border-left"  style="background:rgba(255, 255, 255, 0.7);"><div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFFF">
          <div class="visible-xs" style="height:40px;"></div>
          <div class="visible-sm" style="height:40px;"></div>
          <div class="visible-md" style="height:40px;"></div>
          <div class="visible-lg" style="height:40px;"></div>
        </div>
        <p class="lead text-center center  text-normal element-top-20 element-bottom-20 line-height-reset" data-os-animation="none" data-os-animation-delay="0s">
          {{ site.t[page.lang]['page']['what_we_do']['bottom']['block']['body'] }}
        </p>
        <a href="{{ site.t[page.lang]['page']['what_we_do']['bottom']['link']['url'] }}" class="btn btn-primary btn-lg text-normal element-left-0 element-right-0 element-top-20 element-bottom-60 os-animation" target="_self" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="background:rgba(47, 147, 216, 0.79) ">
          {{ site.t[page.lang]['page']['what_we_do']['bottom']['link']['title'] }}
        </a>
        <div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFFF">
          <div class="visible-xs" style="height:40px;"></div>
          <div class="visible-sm" style="height:40px;"></div>
          <div class="visible-md" style="height:40px;"></div>
          <div class="visible-lg" style="height:40px;"></div>
        </div>
      </div>
      <div class="col-md-2 text-default small-screen-default"></div>
    </div>
  </section>

  <!-- Our goods -->
  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" id="portfolio">
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
    <div class="container container-vertical-default">
      <div class="row vertical-default">
        <div class="col-md-12 text-center small-screen-default">
          <h1 class="text-default  element-top-60 element-bottom-20 text-normal os-animation normal regular" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
            {{ site.t[page.lang]['page']['our_goods']['title'] }}
          </h1>
          <div class="divider-border divider-border-center element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
            <div class="divider-border-inner" style="background:#3a3c3e;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" id="portfolio" >
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
    <div class="container-fullwidth container-vertical-default">
      <div class="row vertical-default">
        <div class="col-md-12 text-center small-screen-default">
          <div class="portfolio-container element-top-20 element-bottom-10 text-normal">
            <div class="row">
              <div class="col-md-12">
                <div class="portfolio-header clearfix">
                  <div class="portfolio-filters pull-right"></div>
                </div>
              </div>
            </div>
            <div class="portfolio masonry no-transition" data-padding="15" data-col-xs="1" data-col-sm="2" data-col-md="3" data-col-lg="3" data-layout="fitRows">
              {% for block in site.blocks['our_goods'] %}
                <div class="masonry-item portfolio-item filter-products" data-menu-order="1" data-date="2016-06-15T13:54:13+00:00" data-title="{{ block['title'] }}" data-comments="0">
                  <div class="figure element-top-0 element-bottom-0 portfolio-os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle normalwidth" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <a href="/images/{{ block['icon'] }}.png" title="{{ block['title'] }}" class="figure-image magnific image-all" data-links="" data-captions="{{ block['title'] }}" target="_self">
                      <img width="388" height="388" src="/images/{{ block['icon'] }}.png" class="normalwidth" alt="{{ block['title'] }}" srcset="/images/{{ block['icon'] }}.png 388w, /images/{{ block['icon'] }}-150x150.png 150w, /images/{{ block['icon'] }}-300x300.png 300w" sizes="(max-width: 388px) 100vw, 388px" />
                      <div class="figure-overlay grid-overlay-0">
                        <div class="figure-overlay-container">
                          <div class="figure-caption">
                            <h3 class="figure-caption-title bordered bordered-small">{{ block['title'] }}</h3>
                            <p class="figure-caption-description"></p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

