<article id="post-440" class="post-440 page type-page status-publish hentry">
  <section class="section text-normal section-text-no-shadow section-inner-no-shadow section-fullheight section-opaque">
    <div class="background-media" style="background-image: url('/images/lupo-plast-cargoship-3003x1998.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:no-scroll; background-position: 50% 0%;"></div>
    <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,0.4);"></div>
    <div class="container container-vertical-middle">
      <div class="row vertical-middle">
        <div class="col-md-12 text-center small-screen-default">
          <div class="col-text-1 text-normal element-top-20 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
            <p><a name="formularz"></a></p>
          </div>
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:24px;"></div>
            <div class="visible-sm" style="height:24px;"></div>
            <div class="visible-md" style="height:24px;"></div>
            <div class="visible-lg" style="height:24px;"></div>
          </div>
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:24px;"></div>
            <div class="visible-sm" style="height:24px;"></div>
            <div class="visible-md" style="height:24px;"></div>
            <div class="visible-lg" style="height:24px;"></div>
          </div>
          <div class="text-justify text-default element-top-100 element-bottom-20 text-light os-animation regular animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
            <p>Szanowni Państwo,</p>
            <p>W związku z nowymi regulacjami w ochronie danych osobowych spełniamy nasz obowiązek informacyjny o tym jak przetwarzamy Państwa dane. Poniżej wyjaśniamy najważniejsze kwestie.</p>
            <ol>
              <li>Administratorem Państwa danych osobowych jest Lupo Plast Stanisław Pieślak Tomasz Dominiak spółka jawna z siedzibą ul. Ogrodowa 17/10 61-821 Poznań i miejscem działalności ul. Morownicka 1c 64-030 Bronikowo, NIP: 7781416169, Regon 634556330, KRS 0000191841, nr rejestrowy BDO 000096139, adres do korespondencji: ul. Lubowska 44, 60-454 Poznań, tel. 61 8499 730.</li>
              <li>Z przepisów prawa nie wynika obowiązek powołania przez naszą firmę Inspektora Danych Osobowych.</li>
              <li>Dane Państwa będą przetwarzane w zakresie:
                <ul>
                  <li>niezbędnym do prawidłowego wykonania umów o charakterze handlowym i usługowym, od podjęcia działań przed jej zawarciem aż do jej formalnego zakończenia
                  <li>wykonywania czynności wymaganych obowiązującymi przepisami prawnymi i administracyjnymi.
                </ul>
              </li>
              <li>Państwa dane są pozyskiwane:
                <ul>
                  <li>w ramach wykonywania umów o charakterze handlowym, usługowym</li>
                  <li>ze źródeł publicznie dostępnych. i obejmują: imiona i nazwiska, nazwy firm, dane teleadresowe, informacje na temat prowadzonej działalności gospodarczej.</li>
                </ul>
              </li>
              <li>Administrator przetwarza dane zgodnie z prawem, zbiera je dla oznaczonych celów i nie podaje dalszemu przetwarzaniu niezgodnie z tymi celami.</li>
              <li>Administrator dokłada wszelkich starań, aby chronić dane osobowe kontrahentów przed nieuprawnionym dostępem do nich osób trzecich. Dane mogą być udostępniane jedynie podmiotom uprawnionym do ich otrzymania na nocy obowiązujących przepisów prawa.</li>
              <li>Odbiorcami Państwa danych osobowych są:
                <ul>
                  <li>upoważnieni do przetwarzania danych osobowych właściciele i pracownicy firmy Lupo Plast sp.j.</li>
                  <li>podmioty zapewniające obsługę prawną, organizacyjną i administracyjną firmy,</li>
                  <li>instytucje upoważnione do przetwarzania danych osobowych na mocy obowiązującego prawa.</li>
                </ul>
              </li>
              <li>Państwa dane osobowe nie będą przekazywane do państwa trzeciego oraz organizacji międzynarodowych</li>
              <li>Mają Państwo prawo do
                <ul>
                  <li>dostępu do treści swoich danych oraz ich sprostowania, usunięcia lub ograniczenia przetwarzania</li>
                  <li>wniesienia sprzeciwu wobec przetwarzania</li>
                  <li>przenoszenia danych</li>
                  <li>wniesienia skargi do Urzędu Ochrony Danych Osobowych</li>
                </ul>
              </li>
              <li>Podanie przez Państwa danych osobowych jest dobrowolne, ale niezbędne do realizacji czynności, o których mowa w pkt.3 niniejszego tekstu.</li>
            </ol>
          </div>
          <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFFF">
            <div class="visible-xs" style="height:24px;"></div>
            <div class="visible-sm" style="height:24px;"></div>
            <div class="visible-md" style="height:24px;"></div>
            <div class="visible-lg" style="height:24px;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

