<!DOCTYPE html>
<html lang="{{ page.lang }}">
  {% include head.html %}
  <body class="home page page-id-433 page-template-default custom-background transparent-header transparent-topbar en_CA pace-on pace-logo-3d wpb-js-composer js-comp-ver-4.11.2 vc_responsive">
    {% include header.html %}
    <div id="content" role="main">
      {{ content }}
      {% include footer.html %}
    </div>
    <!-- Fixing the Back to top button -->
    <a href="javascript:void(0)" class="go-top go-top-square go-top-mobile">
      <i class="fa fa-angle-up"></i>
    </a>

    <script type='text/javascript' src='/javascripts/main.js'></script>
    <script type='text/javascript' src='/javascripts/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='/javascripts/theme.min.js'></script>
    <script type='text/javascript' src='//maps.googleapis.com/maps/api/js'></script>
    <script type='text/javascript' src='/javascripts/map.min.js'></script>
  </body>
</html>

